<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <title>MProject</title>

    <script type="text/javascript">
        // initiate the plugin after DOM has loaded

    </script>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

    {% block closure %}{% endblock %}

</head>
<body>
    <section>
        <div class="center">
            <div class="top">
                <div class="logo fl">
                    <a href="{{ path('mproject_home') }}"><img src="/images/logo.png"/></a>
                </div>

                <ul class="navigation">
                    <li><a href="{{ path('_auth_show_login') }}">login</a></li>
                    <li><a href="{{ path('_auth_show_signup') }}">signup</a></li>
                </ul>

                <div class="clr"></div>
            </div>
            {% block layout %}{% endblock %}
        </div>
    </section>
</body>
</html>