{% extends 'MProjectAuthBundle::layout.html.twig' %}

{% block content %}
    <div style="font-family: Ubuntu; font-size: 22px; font-weight: bold; padding: 20px;">
        Login
    </div>

    <div id="msg" style="font-family: Ubuntu; text-align: center; padding-top: 20px; height: 30px;">
        {% for flashMessage in app.session.flashbag.get('login_required') %}
            {{ flashMessage }}
        {% endfor %}
    </div>

    <div style="padding-left: 50px; clear: both;">
        {{ form(form, {'attr': {'class': 'form-horizontal'} }) }}
    </div>
{% endblock %}