{% extends 'MProjectAuthBundle::layout.html.twig' %}

{% block content %}
    <div style="font-family: Ubuntu; font-size: 22px; font-weight: bold; padding: 20px;">
        Signup
    </div>
    <div style="padding-left: 50px; clear: both;">
        {{ form(form, {'attr': {'class': 'form-horizontal'} }) }}
    </div>
{% endblock %}