﻿*
{
	margin: 0;
	padding: 0;
}

body
{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #424242;
	background: url(/images/body_pattern.png);
	word-wrap: break-word;
}

img
{
	border: 0;
}

a, a:link, a:visited
{
	text-decoration: none;
	outline: 0;
	color: #ff9900;
}

a:hover
{
	text-decoration: underline;
}

ul
{
	list-style: none;
}

header, footer, section, article, aside, hgroup, nav
{
	display: block;
}

.button::-moz-focus-inner
{
	border:0;
	padding:0;
} /* To remove extra padding from input button... .button is the class name of the input button */









.clr
{
	clear: both;
}

.fl
{
	float: left;
}

.fr
{
	float: right;
}

.null
{
	line-height: 0;
	font-size: 0;
}








.center
{
	width: 1016px;
	margin: auto;
}

.top
{
	background: #44749d;
	margin: 54px 0 0;
	padding: 0 20px;
	border-radius: 5px;
}

.logo
{
	padding: 10px 0 0;
}

ul.navigation
{
	float: left;
}

ul.navigation li
{
	float: left;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 #335876;
}

ul.navigation li a, ul.navigation li a:link, ul.navigation li a:visited
{
	display: block;
	margin: 0 0 0 20px;
	padding: 14px 0 14px 20px;
	border-left: 2px solid #4a7fab;
	box-shadow: -1px 0 0 #3c6689;
	color: #fff;
}

ul.navigation li a:hover
{
	text-decoration: none;
}

.top-search
{
	padding: 10px 0 0;
}

.button
{
	border: none;
	cursor: pointer;
}

.button-search
{
	background: url(/images/btn_search.png);
	width: 33px;
	height: 28px;
}

.text-search
{
	width: 190px;
	height: 28px;
	border: none;
	padding: 0 10px 0;
	border-radius: 3px 0 0 3px;
	box-shadow: inset 0 0 3px #c3d9e1;
	color: #56647a;
	font-size: 12px;
	font-style: italic;
}

.gallery-home
{
	box-shadow: 0 0 1px #cccccc;
	position: relative;
	margin: 20px 0 0;
	border: 4px solid #fff;
	height: 372px;
}

.name
{
	bottom: -14px;
	right: -4px;
}

.name, .name2
{
	background: #ff9900;
	font-size: 22px;
	color: #fff;
	position: absolute;
	padding: 3px 20px;
	border-radius: 0 3px 3px 0;
	line-height: 30px;
}

.name::before, .name2::before
{
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-top: 18px solid #ff9900;
	border-bottom: 18px solid #ff9900;
	border-left: 13px solid transparent;
	left: -13px;
	top: 0;
}

.title-holder
{
	background: url(/images/transparent.png);
	padding: 5px 20px;
	position: absolute;
	width: 968px;
	bottom: 0;
	color: #fff;
}

h1
{
	font-weight: normal;
	font-size: 26px;
}

.tools-panel
{
	margin: 20px 0 0;
	border: 1px solid #d8d8d8;
	border-radius: 5px;
	background: #fff;
}

ul.tools-menu li
{
	float: left;
	font-size: 35px;
	font-weight: 600;
	width: 338px;
}

ul.tools-menu li a, ul.tools-menu li a:link, ul.tools-menu li a:visited
{
	color: #fff;
	text-shadow: 1px 1px 0 #637e95;
	background: #7094b4;
	padding: 15px 30px 15px 80px;
	display: block;
	box-shadow: inset -3px -3px 6px #587b98;
}

ul.tools-menu li:first-child a
{
	border-radius: 5px 0 0;
}

ul.tools-menu li:last-child a
{
	border-radius: 0 5px 0 0;
}

ul.tools-menu li a:hover, ul.tools-menu li.lidetails-sel a, ul.tools-menu li.litools-sel a, ul.tools-menu li.liresources-sel a
{
	text-decoration: none;
	color: #3d688c;
	box-shadow: inset -3px -3px 6px #8f989f;
	text-shadow: none;
}

ul.tools-menu li.lidetails a
{
	background: #7094b4 url(/images/icon_details.png) 32px 17px no-repeat;
}

ul.tools-menu li.lidetails a:hover, ul.tools-menu li.lidetails-sel a
{
	background: #d6e0e9 url(/images/icon_details_mo.png) 32px 17px no-repeat;
}

ul.tools-menu li.litools a
{
	background: #7094b4 url(/images/icon_tools.png) 32px 17px no-repeat;
	padding: 15px 30px 15px 90px;
}

ul.tools-menu li.litools a:hover, ul.tools-menu li.litools-sel a
{
	background: #d6e0e9 url(/images/icon_tools_mo.png) 32px 17px no-repeat;
}

ul.tools-menu li.liresources a
{
	background: #7094b4 url(/images/icon_resource.png) 32px 17px no-repeat;
}

ul.tools-menu li.liresources a:hover, ul.tools-menu li.liresources-sel a
{
	background: #d6e0e9 url(/images/icon_resource_mo.png) 32px 17px no-repeat;
}

.tab-content
{
	padding: 20px;
	clear: both;
}

h2
{
	font-weight: normal;
}

.cost
{
	font-size: 16px;
	color: #a8a8a8;
}

.price
{
	font-size: 25px;
	font-weight: bold;
	color: #44749d;
}

.social-panel
{
	padding: 10px 0;
	border-bottom: 1px dotted #bfbfbf;
}

.subscribe
{
	color: #a8a8a8;
	font-size: 12px;
}

.subscribe img
{
	vertical-align: middle;
}

.details
{
	padding: 15px 0 0;	
}

.accordion-panel
{
	margin: 40px 0 0;
	position: relative;
}

.name2
{
	top: -14px;
	right: 0;
    cursor: pointer;
}

.accordion-holder
{
	margin: 0 0 15px;
}

.acccordion-title
{
	border-radius: 5px;
	background: #44749d;
	cursor: pointer;
	font-size: 22px;
	color: #fff;
	border: 1px solid #3c6689;
	line-height: 50px;
	text-shadow: 1px 1px 0 #225077;
}

.title-off
{
	background: #c6d4e1;
	border: 1px solid #b1beca;
	color: #3d688c;
	text-shadow: 1px 1px 0 #fff;
}

a.on, a.off
{
	width: 24px;
	height: 21px;
	display: inline-block;
	padding: 15px;
	margin: 0 20px 0 0;
	border-right: 1px solid #3c6689;
	box-shadow: 2px 0 0 #4a7fab;
	background: url(/images/arrow_down.png) center no-repeat;
}

a.off
{
	border-right: 1px solid #b1beca;
	box-shadow: 2px 0 0 #d5e2ee;
	background: url(/images/arrow_up.png) center no-repeat;
}

.accordion-content
{
	background: #fff;
	padding: 20px;
	margin: 10px 0 0;
	border-radius: 5px;
	border: 1px solid #dadada;
}

.container
{
	margin: 20px 0 0;
}

.left, .right
{
	width: 620px;
	border-radius: 3px;
	padding: 0 20px 20px;
	border: 1px solid #DADADA;
	border-top: 3px solid #44749d;
	background: #fff;
}

h3
{
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 1px dotted #BFBFBF;
	padding: 10px 0;
	margin: 0 0 10px;
}

.comment-box, .comment-box-2nd
{
	font-size: 12px;
	border-bottom: 1px dotted #BFBFBF;
	padding: 0 0 20px;
	margin: 0 0 20px;
}

.comment-box:nth-last-child(3), .comment-box-2nd:nth-last-child(3)
{
	margin: 0;
}

.comment-box-2nd
{
	padding: 0 0 20px 78px;
}

.comment-box-2nd .comment-holder
{
	width: 467px;
}

.commentator img
{
	border: 1px solid #fff;
	box-shadow: 0 0 1px #3d3d3d;
}

.comment-holder
{
	width: 544px;
}

.commentator-name-holder
{
	padding: 0 0 10px;
}

.user-name
{
	color: #44749d;
	font-size: 14px;
}

.user-name span
{
	color: #a8a8a8;
	font-size: 12px;
	display: block;
}

.flag img
{
	vertical-align: middle;
}

.flag span
{
	color: #44749d;
}

.right
{
	width: 295px;
}

.area
{
	width: 614px;
	height: 106px;
	border: 1px solid #ebebeb;
	margin: 0 0 20px;
	resize: none;
	padding: 5px 0 0 5px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 14px;
	color: #868686;
}

.btn-submit
{
	border-radius: 5px;
	background: #44749d;
	border: 1px solid #315f86;
	color: #fff;
	padding: 10px;
	font-size: 14px;
}

.related-project-holder
{
	border-bottom: 1px dotted #BFBFBF;
	padding: 0 0 15px;
	margin: 0 0 20px;
}

.project-pic img
{
	border: 4px solid #fff;
	box-shadow: 0 0 1px #b5b5b5;
}

.project-right
{
	width: 180px;
	font-size: 12px;
}

.project-right p
{
	margin: 0 0 5px;
}

.project-right span
{
	font-size: 11px;
	color: #a8a8a8;
}

.project-right a, .project-right a:link, .project-right a:visited
{
	color: #44749d;
}

.rating
{
	margin: 10px 0 0;
}

.pagination
{
	text-align: center;
}

.pagination li
{
	display: inline-block;
}

.pagination li a, .pagination li a:link, .pagination li a:visited
{
	width: 16px;
	height: 16px;
	background: url(/images/circle.png);
	display: block;
}

.pagination li a:hover, .pagination li.sel a
{
	background: url(/images/circle_big.png);
}

.pagination li:first-child a, .pagination li:last-child a
{
	width: 16px;
	height: 23px;
	background: url(/images/pagination_left.png);
	margin: 0 0 -4px 0;
}

.pagination li:last-child a
{
	background: url(/images/pagination_right.png);
}

footer
{
	background: #24292f;
	padding: 5px 0;
	color: #57616a;
	margin: 20px 0 0;
}

.social-icons li
{
	float: left;
	margin: 0 0 0 10px;
}

.error{
    background-color: #f5f5f5;
    text-align: center;
    font-size: 14px;
    color: #ff0000;
    font-weight: bold;
    font-family: Ubuntu;
}

.success{
    background-color: #f5f5f5;
    text-align: center;
    font-size: 14px;
    color: green;
    font-weight: bold;
    font-family: Ubuntu;
}

.reset{
    background-color: inherit;
    height: 20px;
}





.copyright
{
    padding: 5px 0 0;
}

.content
{
    border: 1px solid #fff;
    box-shadow: 0 0 1px #9a9a9a;
    border-radius: 5px;
    margin: 20px 0 0;
    padding: 20px;
    background: #fcfcfc url(/images/bg_content.png) top repeat-x;
}

.steps-holder
{
    background: url(/images/bg_steps_holder.png) bottom repeat-x;
    padding: 0 0 20px;
    margin: 0 0 30px;
}

.steps
{
    width: 25%;
    text-align: center;
    color: #44749d;
    font-size: 16px;
    position: relative;
    z-index: 2;
}

.step-number-holder, .step-number-holder2
{
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    background: #cbd8e3;
    box-shadow: inset 0 0 3px #a1aebc;
    margin: 0 0 6px;
}

.step-number-holder2
{
    background: #dadada;
    box-shadow: inset 0 0 3px #bababa;
}

.step-number, .step-number2
{
    width: 28px;
    height: 28px;
    border: 1px solid #345774;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    background: #508cbe;
    background: linear-gradient(top, #508cbe, #3d688b);
    background: -moz-linear-gradient(top, #508cbe, #3d688b);
    background: -webkit-linear-gradient(top, #508cbe, #3d688b);
    background: -o-linear-gradient(top, #508cbe, #3d688b);
    background: -ms-linear-gradient(top, #508cbe, #3d688b);
}

.step-number2
{
    color: #8c8c8c;
    border: 1px solid #b7b7b7;
    text-shadow: 1px 1px 0 #fff;
    background: #e9eaec;
    background: linear-gradient(top, #e9eaec, #dad9de);
    background: -moz-linear-gradient(top, #e9eaec, #dad9de);
    background: -webkit-linear-gradient(top, #e9eaec, #dad9de);
    background: -o-linear-gradient(top, #e9eaec, #dad9de);
    background: -ms-linear-gradient(top, #e9eaec, #dad9de);
}

.bar
{
    background: #dcdcdc;
    border: 1px solid #cdcdce;
    border-radius: 5px;
    height: 6px;
    position: relative;
    z-index: 1;
    bottom: -24px;
}

.progress
{
    width: 25%;
    height: 6px;
    background: #c6d4e1;
    border-radius: 5px;
    border: 1px solid #b1beca;
    position: absolute;
    top: -1px;
    left: 0;
}

.progress2
{
    width: 25%;
    height: 6px;
    background: #c6d4e1;
    border-radius: 5px;
    border: 1px solid #b1beca;
    position: absolute;
    top: -1px;
    left: 25%;
}

.progress3
{
    width: 25%;
    height: 6px;
    background: #c6d4e1;
    border-radius: 5px;
    border: 1px solid #b1beca;
    position: absolute;
    top: -1px;
    left: 50%;
}

.progress4
{
    width: 25%;
    height: 6px;
    background: #c6d4e1;
    border-radius: 5px;
    border: 1px solid #b1beca;
    position: absolute;
    top: -1px;
    left: 75%;
}

.project-left
{
    width: 640px;
}

.text-holder
{
    margin: 0 0 20px;
    font-size: 16px;
}

.text-holder p:first-child
{
    width: 150px;
    float: left;
    padding: 3px 20px 0 0;
    text-align: right;
    display: inline-block;
    font-weight: 600;
}

.text-holder p:first-child
{
    color: #b7b7b7;
    cursor: pointer;
    position: relative;
}

.text-holder p:nth-last-child(2)
{
    width: 470px;
    float: right;
}

.text-box
{
    width: 325px;
    padding: 0 10px;
    height: 32px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    color: #080808;
    font-size: 14px;
}

input:-moz-placeholder
{
    color:#999;
    font-style: italic;
}

input::-webkit-input-placeholder
{
    color:#999;
    font-style: italic;
}

.dd-list
{
    border-radius: 3px;
    border: 1px solid #cccccc;
    padding: 6px;
    color: #666;
}

.time-bar
{
    width: 228px;
    height: 10px;
    background: url(/images/bg_time_bar.png);
    display: block;
    position: relative;
}

.yellow-bar
{
    height: 10px;
    box-shadow: inset 0 0 1px #df8a0a;
    background: #ffc36a;
    display: inline-block;
    position: absolute;
}

.yellow-vr-bar
{
    width: 12px;
    height: 26px;
    display: inline-block;
    background: #ff9900;
    box-shadow: inset 0 0 1px #b26b00;
    border-radius: 10px;
    top: -8px;
    left: 65px;
    position: absolute;
    cursor: pointer;
}

.one-third
{
    width: 110px;
    display: inline-block;
    font-size: 10px;
    color: #a8a8a8;
    margin: 7px 0 0;
    text-align: center;
    float: left;
}

.create-project
{
    width: 240px;
    background: #f2f2f4;
    padding: 20px 30px 30px;
}

.create-project h2
{
    font-size: 22px;
    color: #3d688c;
}

.text-holder .area
{
    width:463px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin: 0;
}

.button-holder
{
    padding: 0 0 25px;
}

.btn-upload
{
    width: 223px;
    height: 54px;
    background: url(/images/btn_upload.png);
}

.btn-delete
{
    width: 141px;
    height: 54px;
    background: url(/images/btn_delete.png);
}

.btn-edit
{
    width: 116px;
    height: 54px;
    background: url(/images/btn_edit.png);
}

.project-box
{
    width: 175px;
    float: left;
    margin: 0 18px 35px 0;
}

.project-box img
{
    border: 3px solid #fff;
    box-shadow: 0 0 1px #a7a7a7;
    margin: 0 0 4px;
}

.project-box a, .project-box a:link, .project-box a:visited
{
    color: #44749d;
    font-size: 12px;
    display: block;
    margin: 0 0 5px;
}

.project-box span
{
    display: block;
    margin: 0 0 7px;
}

.project-text-area
{
    width: 166px;
    padding: 5px;
    resize: none;
    background: #f2f7fa;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #a8a8a8;
    height: 50px;
    border: 2px solid #d9d9d9;
}

.project-box:nth-child(5n+6)
{
    /*margin: 0;*/
    clear: both;
}

.step-four-main
{
    border-bottom: 1px dotted #b6b6b6;
    padding: 0 0 20px;
    margin: 0 0 20px;
}

.uploaded-images-holder
{
    width: 472px;
}

.uploaded-images
{
    border: 1px solid #cccccc;
    padding: 10px 0 0 10px;
}

.uploaded-images li
{
    float: left;
    margin: 0 10px 10px 0;
}

.uploaded-images-holder h3
{
    text-transform: none;
    padding: 0;
    border: none;
}

.images-area
{
    width: 460px;
    height: 170px;
    padding: 5px;
    border: 1px solid #cccccc;
    resize: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.section-title
{
    width: 722px;
    color: #424242;
}

.btn-cancel
{
    background: #ff9900;
    border: 1px solid #d88200;
    box-shadow: inset 0 0 5px #d88200;
    text-shadow: 1px 1px 0 #c57700;
}

.tiny-mca-holader
{
    padding: 20px 0;
}

.defaultTheme
{
    background: #6E6E6E !important;
    color: #EFEFEF !important;
}


.container-global
{
    margin: 20px 0 0;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 2px #e1e1e1;
}

.sort-panel
{
    padding: 10px 0;
    margin: 15px 0 20px;
    border-top: 1px dotted #b6b6b6;
    border-bottom: 1px dotted #b6b6b6;
}

.sort-by
{
    margin: 0 0 0 20px;
    color: #a8a8a8;
    font-size: 12px;
}

.sort-by .dd-list
{
    padding: 4px;
}

.search-result-holder
{
    border-bottom: 1px dotted #b6b6b6;
    padding: 0 0 20px;
    margin: 0 0 20px;
}

.search-result-holder > img
{
    float: left;
    border: 5px solid #fff;
    box-shadow: 0 0 2px #e7e7e7;
}

.search-result-holder:nth-last-child(1)
{
    border: none;
    padding: 0;
    margin: 0;
}

.search-result-right
{
    width: 428px;
}

h4
{
    font-size: 18px;
    color: #44749d;
    font-weight: 600;
    margin: 0 0 5px;
}

.like-panel
{
    margin: 30px 0 0;
}

.browse-left
{
    border-top: 3px solid #44749d;
    width: 200px;
}

.browse-left li a, .browse-left li a:link, .browse-left li a:visited
{
    display: block;
    padding: 8px 0;
    border-top: 1px dotted #b6b6b6;
    color: #44749d;
}

.browse-left li a:hover, .browse-left li.active a
{
    text-decoration: none;
    background: #efefef;
    color: #ff9900;
    padding: 8px 0 8px 8px;
}

.browse-left h4
{
    text-transform: uppercase;
    font-weight: normal;
    color: #3b3b3b;
    margin: 0 0 15px;
}

.browse-left, .browse-right
{
    background: #fff;
    box-shadow: 0 0 2px #e1e1e1;
    border-radius: 3px;
    padding: 10px 20px;
}

.browse-right
{
    width: 716px;
}


.browse-right h4
{
    font-size: 20px;
    color: #424242;
}

.sort-panel label
{
    color: #44749d;
    margin: 0 25px 0 0;
    position: relative;
    top: -2px;
    font-size: 13px;
    line-height: 32px;
    cursor: pointer;
}

.black, .grey
{
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px dotted #b6b6b6;
    padding: 0 0 12px;
    margin: 0 0 10px;
}

.grey
{
    color: #a8a8a8;
}

.browse-right .search-result-holder
{
    width: 716px;
    margin: 20px 0 10px;
}

.tag
{
    font-size: 12px;
    font-weight: normal;
    padding: 5px 10px 5px 10px;
    margin: 0 5px 10px 1px;
    background: #e1e1e1;
    border-radius: 12px;
    border: 1px solid #d9d9d9;
    line-height: 18px;
    word-wrap: break-word;
    word-break: break-all;
    display: inline-block;
}